@import "tailwindcss";

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-float-slow {
  animation: float 6s ease-in-out infinite;
}

.animate-float-slower {
  animation: float 8s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}